.navWrapper {
  background: #f4f4f4;
  padding-top: 10px;

  .navList {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    .navItem {
      &:hover {
        color: #f7a278;
      }
    }
  }
}

.active {
  color: #351e29;
  font-size: 1.5rem;
}
