.navWrapper {
  background: #333;
  padding: 0.7rem;

  .navList {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;

    .navItem {
      color: white;
      padding: 1rem;
      font-size: 1.2rem;

      &:hover {
        color: #babf95;
      }

      &.active {
        color: pink;
      }
    }
  }
}
